.desktopMenuItem {
  position: relative;
  ::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.8s ease-in;
    position: absolute;
    bottom: 5px;
  }
}

.desktopMenuItem:hover {
  ::after {
    background-color: #fff;
    opacity: 1;
  }
}

.cartButton {
  position: relative;
  .cartCount {
    position: absolute;
    top: -5px;
    right: 5px;
    background-color: #fff;
    color: #1976d2;
    border-radius: 50%;
    padding: 0px 6px;
    font-size: 10px;
    box-shadow: 0px 0px 5px 0px rgba(97, 108, 172, 0.75);
    font-weight: bold;
  }
}
